@media only screen and (min-width: 1201px) and (max-width: 1380px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .t_s_slider_right p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 401px) and (max-width: 575px) {}

@media only screen and (min-width: 280px) and (max-width: 400px) {}

@media screen and (max-width: 767px) {
    .t_s_slider_left {
        width: 35%;
    }

    .t_s_slider_right {
        width: 65%;
    }

    .t_s_slider_right p {
        font-size: 13px;
    }

    .t_s_slider_right p {
        font-size: 14px;
    }
}

@media screen and (max-width: 575px) {
    .testimonial_single_slider {
        display: unset;
    }

    .t_s_slider_left img {
        border-radius: 50%;
        width: 100px !important;
        height: 100px;
        margin: 0 auto;
    }

    .t_s_slider_left {
        width: 100%;
        text-align: center;
    }

    .t_s_slider_right {
        width: 100%;
        text-align: center;
    }

    .t_s_slider_right p {
        font-size: 13px;
    }
}